<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body class="bg" style="background:url('https://cdn.pixabay.com/photo/2018/03/19/18/20/tea-time-3240766_1280.jpg')">
<nav class='navbar navbar-default'>
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Python Expert</a>
        </div>

            <ul class='nav navbar-nav'>
                <li><a href="/django">Django</a></li>
                <li><a href="/python">python</a></li>
                <li><a href="/restapi">RestAPI</a></li>
            </ul>
         <ul class='nav navbar-nav navbar-right'>
                <li><a href="/Signup">Signup</a></li>
                <li><a href="/accounts/login">Login</a></li>
                <li><a href="/accounts/logout">Logout</a></li>
            </ul>
    </div>
</nav>

</body>
{% block body_block%}
{%endblock%}

</html>